<header class="header py-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<nav>
					<ul class="d-flex justify-content-between gap-4">						
						<li>
							<a href="gallery.html" class="text-nowrap">О компании</a>
						</li>
						<li>
							<a href="teams.html" class="text-nowrap">Портфолио</a>
						</li>
						<li>
							<a href="cards.html" class="text-nowrap">Стоимость</a>
						</li>
						<li>
							<a href="events.html" class="text-nowrap">Контакты</a>
						</li>						
					</ul>
				</nav>
			</div>
			<div class="col">
				<a href="/" class="d-block mw-100 text-center">
					<img src="@img/logo.png" alt="logo" class="mw-100" />
				</a>
			</div>
			<div class="col">
				<div class="d-flex justify-content-between">
					<a href="tel:+78126470637" class="">+7 (812) 647-06-37</a>
					<a href="tel:88007778504" class=""> 8 (800) 777-85-04</a>
				</div>
				<a href="mailto:zakaz2@bestmaket.ru" class="d-block text-end text-primary" target="_blank">zakaz2@bestmaket.ru</a>
			</div>
			<div class="col">
				<button type="button"
					class="header__burger burger button py-3 d-flex gap-3 align-items-center me-3 position-relative">
					<span class="fs-16 fw-700 text-uppercase">МЕНЮ</span>
					<span class="burger__inner position-relative d-flex justify-content-center align-items-center">
						<span></span>
					</span>
				</button>
			</div>
		</div>
	</div>
</header>